.ws{
    float: left;
    width: 649px;
}
ul.galleryImages {

    float: left;
    margin: 0 10px 20px 0;

    list-style: none;
}


ul.galleryImages li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

ul.galleryImages li img {
    width: 150px;
    height: 150px;
}

